.board-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #FED973;
}

.board-projectname {
    text-align: center;
}

.list-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.list-create {
    display: inline-block;
    vertical-align:top;
    margin-left: .5em;
    margin-right: .5em;
}